@media screen and (min-width: 992px) {
    .col-text {
    border-left: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 10px;
    }
   
}

@media screen and (max-width: 992px) {
    .col-text {
      border-bottom: 2px solid #d8d8d8;
      border-left: 2px solid #d8d8d8;
      padding-bottom: 10px;
    }
    section {
        padding-top: 30px;
    }
}

body {
  background: #f5f5f5;
  margin-top: 20px;
}

h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}

.text p {
    text-indent: 20px;
}
.text {
    /* background: white; */
    height: 90vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 2px solid black; */
    padding: 10px;
    /* border-radius: 10px; */
     -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 5vh;
}
.text::-webkit-scrollbar-track {border-radius: 4px;}
.text::-webkit-scrollbar {width: 6px;}
.text::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;transition: 1s;}
.text:hover::-webkit-scrollbar-thumb {background: #6a7d9b;transition: 1s;}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

i.formula {
    font-style: italic;
}
.btn {
    margin: 5px 5px 5px 5px;    
}
.custom-table table tr th,.custom-table table tr td {
    text-align: center;

}
.custom-table td input.form-control {
    border: 0px solid #ccc;
    height: 25px;
}

.custom-table table {
    border: 2px solid #ddd;

}

.custom-table tbody tr td {
  border: 1px solid #ddd;
  padding: 0;
}

.custom-table tbody tr td:nth-child(3) {
  border: none;
}

.custom-table tbody tr td:first-child {
  vertical-align: middle;
  font-weight: bold;
  font-size: 11pt;
}

.custom-table tbody input {
  border-radius: 0;
}

.custom-table thead tr th {
  border: 2px solid #ddd;
}

.custom-table .table > thead > tr > th {
  vertical-align: middle;
  font-size: 11pt;
  padding: 0;
}

hr {
  border-top: 2px solid #ddd;
}
.custom-table td {
  padding: 0;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  display: none;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px 30px;
}

.ring {
  display: flex;
  border: 2px solid #f5f5f5;
}

.ring:hover {
  cursor: pointer;
  border: 2px solid black;
}

.ring-active {
  border: 2px solid black;
}

.ring img {
  width: 60px;
  padding: 4px;
}

.form-j-wrapper {
	display: flex;
	align-items: center;
}

.form-j-wrapper span {
	margin-left: 10px;
	font-size: 15px;
}

.glyphicon {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-j-wrapper .glyphicon {
  height: 34px;
}

table .form-control {
  background: #f5f5f5;
}

#start, #reset {
  display: inline-block;
}

